<%- include("layout/nav.ejs") -%>
    <img src="https://i.imgur.com/rAPTq67.gif" alt="dealine" style="width:20rem;"/>
    <h1 style="text-align:center;">WELCOME HOME</h1>
    <a href="/logout">DECONNEXION</a>
<%- include("layout/footer.ejs") -%>